html
    head
      link(rel="stylesheet", href='../css/reset.css')
      link(rel="stylesheet", href="../css/style1.css")
      link(rel="stylesheet", href="../css/fontello.css")
    body
      .wrapper
        header#header
          div.topline
            nav
              a.brand(href="#")
                img(alt="Brand" src="#")
                
              ul.navbar
                li
                  a(href="/") 와챠!
                  span.highlight
                li
                  a(href="/boxoffice") 박스오피스
                  span.highlight
                li
                  a(href="/recommendation") 추천영화
                  span.highlight
                li
                  a(href="/evalmore") 평가늘리기
                  span.highlight
              form#search-form(accept-charset='UTF-8', action='/search', method='get')
                input#input-query.ui-autocomplete-input(name='q', type='search', autocomplete='off')
                span#search-icon
                input(type="submit", value="submit")
              div#gnb-right-menu.right-menu
                div.dropdown
                  span.highlight
                  if user
                    a.logged(href="#")=user.displayName
                  else
                    a(href="/auth/login") login
                  div.dropdown-contents
                    ul
                      li
                        a(href="/") 영화보관함
                        span.count 602
                      li
                        a(href="/giftbox") 선물함
                      li.divide-line
                        a(href="#") 친구초대
                      li.divide-line
                        a(href="#") 설정
                      li
                        a(href="/logout") 로그아웃
                
        div.contents
          block content
        div.footer#footer
          div.footwrapper
            div.topper
              div.name LAONWorK
              div.sns
                a.icon-facebook-circled(href="#" target="_blank") 페이스북
                a.icon-twitter(href="#" target="_blank") 트위터
                a.icon-blogger-rect(href="#" target="_blank") 블로그
            div.under
              div.likes   
                div.text
                  span.star-icon
                  span.number 123141
                              |개의 별점 평가가 쌓이고 있습니다.
              div.social
                div.fb-like plugin
                a.tweet
                //- 여기는 소셜 관련 개발
              div.info
                |사업자명 LAONWorK
                |© 2017 by laonwork All rights reserved
